<div class="codeStyle">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, laudantium sequi et quam omnis voluptatem vitae! Odio
  cumque at quis laboriosam nesciunt voluptatem amet excepturi nemo, nostrum doloribus porro. Quis.
</div>
{% style %}
  .codeStyle {
    border: 1px solid red;
    padding: 200px 0;
    max-width: 800px;
    margin: 300px auto;
  }
{% endstyle %}
{% schema %}
{
  "name": "Custom Code",
  "tag": "section",
  "class": "custom-code",
  "limit": 2,
  "settings": [],
  "presets": [
    {
      "name": "code"
    }
  ]
}
{% endschema %}
